@{
    ViewData["Title"] = "Home Page";
}

<div class="card mt-4">
    <div class="card-body text-center">
        <h1 class="display-4">Bem-vindo ao PredictStock!</h1>
        <p class="lead">Seu sistema de Gestão Preditiva de Inventário.</p>
        <hr class="my-4">
        <p>Acesse o nosso repositório no <a href="https://github.com/VictorRSilva05/GestaoProativaInventario.git" target="_blank">Github</a>.</p>
    </div>
</div>