@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao PredictStock!</h1>
    <p>Acesse o nosso repositório no <a href="https://github.com/VictorRSilva05/GestaoProativaInventario.git">Github</a>.</p>
</div>
